html, body {
  height: 100%
}

div#error_div {
  position: absolute;
  z-index: 1000;
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
}

div#error_div p {
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 7px 5px 20px 0px rgba(0, 0, 0, 0.4);
}

div#error_div p img {
  margin-right: 1em;
}

.navbar-brand {
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 0;
}

.navbar-toggler {
  margin-right: 1em !important;
}

.nav-item, .nav-item.active {
  padding-left: 1em !important;
}

div#main_container {
  margin: 1em;
  padding: 5px;
}
